<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Methods</title>
</head>
<body>
    <div class="container">
        <h1>Choose Your Payment Method</h1>
        <div class="payment-methods">
            <!-- Credit Card Section -->
            <div class="method">
                <h2>Credit Card</h2>
                <img src="https://img.freepik.com/free-vector/realistic-credit-card-design_23-2149126090.jpg?ga=GA1.1.220281481.1727174900&semt=ais_hybrid" alt="Credit Card">
            </div>

            <!-- Debit Card Section -->
            <div class="method">
                <h2>Debit Card</h2>
                <img src="https://img.freepik.com/free-vector/realistic-debit-card-mockup_23-2149241918.jpg?t=st=1728033466~exp=1728037066~hmac=95d269995fe7b3262e9522c2672b6eff3084a28290c63d96152a6ec207acce2e&w=740" alt="Debit Card">
            </div>

            <!-- Wallet Section -->
            <div class="method">
                <h2>Wallet</h2>
                <img src="https://img.freepik.com/free-vector/wallet-with-bill-credit-card-flat-design_1284-1061.jpg?t=st=1728033559~exp=1728037159~hmac=0f86e7e5628c6ed731d1b47d3b0eec8b4e6526bf08f0e5e7dcb7ebf46e18d000&w=740" alt="Wallet">
            </div>
        </div>
    </div>
</body>
</html>
