<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <nav class="navbar">
    <h2>Bharat Bijili Company</h2>
  </nav> -->
  <div class="container">
    <h1>Welcome to the Bharat Bijili Company</h1>
    <div class="content">
      <!-- Description Section -->
      <div class="description">
        <p>Bharat Bijili Corporation (BBC) is a leading Electric Power Utility Company based in Pune, providing power distribution
          services to over 10,000+ families in the local township. As a private distributor, BBC is committed to delivering reliable
          electricity to the community while ensuring seamless billing and payment experiences.</p>
        <p>And many more counting happy families.....</p>
      </div>
      <!-- Image Section -->
      <div class="image-container">
        <img src="https://img.freepik.com/free-vector/paying-bills-concept-illustration_114360-19357.jpg?t=st=1727975014~exp=1727978614~hmac=4f427f029d7e3b567ec175fcf58e2fd1a44d3bc7ad31af4704c5709f41b97c99&w=740" alt="Paying Bills Illustration" />
      </div>
    </div>

    <!-- Transaction Section -->
    <div class="transaction-section">
      <div class="transaction-image">
        <img src="https://img.freepik.com/free-vector/secure-payment-isometric-composition-with-icons-coins-banknotes-wallet-credit-card-banking-pictograms-vector-illustration_1284-84371.jpg?t=st=1728019294~exp=1728022894~hmac=cf81aace0b3a7a2aa89eab5474e2e0675dadc23f1ff2675d248768f51ea3f4ac&w=740" alt="Transaction Image" />
      </div>
      <div class="transaction-description">
        <p>Our transaction system ensures that all payments are processed securely and efficiently. You can check your transaction history, view details of each transaction, and get instant updates on your payments.</p>
        <button class="custom-button transactions" routerLink="/viewTransaction">View Transactions</button>
      </div>
    </div>

    <!-- Bill Section -->
    <div class="bill-section">
      <div class="bill-description">
        <p>Pay your utility bills seamlessly through our platform. Enjoy quick payments and receive immediate confirmations. Our system provides detailed billing information, so you're always informed.</p>
        <button class="custom-button bills" routerLink="/bills">View Bills</button>
      </div>
      <div class="bill-image">
        <img src="https://img.freepik.com/free-vector/utility-bills-concept-illustration_114360-15641.jpg?t=st=1728019421~exp=1728023021~hmac=26ce2733c41d6a0e8518ab6d7aec0295827e6eb2f87fc52f346b6633c94a4ab5&w=740" alt="Bill Image" />
      </div>
    </div>
  </div>
</body>
</html>
